version: "3.8"

services:
  n8n:
    image: n8nio/n8n:1.80.1
    ports:
      - "5678:5678"
    environment:
      - TZ=Asia/Seoul
    volumes:
      - n8n_data:/home/node/.n8n
    restart: unless-stopped

volumes:
  n8n_data:
